<a href="https://colab.research.google.com/github/mirandadonnovanw/testrepo/blob/main/Crash_Course_Excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Introduction
print("Hello Python World!")

Hello Python World!

In [ ]:
print('Hello, '+'It\'s women\'s day!\n')

Hello, It's women's day!

In [ ]:
# Variables
message = "Hello SICK SAD WORLD!"
print(message)

Hello SICK SAD WORLD!

In [ ]:
# Strings
print('I told my friend, "Python is my favorite language!"')

print("The language 'Python' is named after Monty Python, not the snake.")

I told my friend, "Python is my favorite language!"
The language 'Python' is named after Monty Python, not the snake.

In [ ]:
#Changing Case in a String with Methods
#1
name = "ada lovelace"
print(name.title())
#2
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

In [ ]:
# Combining or Concatenating Strings
#1
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name.title())

#2
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print("Hello, " + full_name.title() + "!")

#3
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name

message = "Hello, " + full_name.title() + "!"
print(message)

Ada Lovelace
Hello, Ada Lovelace!
Hello, Ada Lovelace!

In [ ]:
# Whitespace to Strings with Tabs or Newlines
#1 tab \t
print("Python")
print("\tPython")

#2 newline \n
print("Languages:\nPython\nC\nJavaScript")

#3 combined \n\t
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Python
	Python
Languages:
Python
C
JavaScript
Languages:
	Python
	C
	JavaScript

In [ ]:
# Numbers
print(2 + 3)
print(3 - 2)
print(2 * 3)
print(3 / 2)
print(3**2)
print(3**3)
print(10**6)
print(2 + 3 * 4)
print((2 + 3) * 4)

5
1
6
1.5
9
27
1000000
14
20

In [ ]:
# Floats
print(0.1 + 0.1)
print(0.2 + 0.2)
print(2 * 0.1)
print(2 * 0.2)
print(0.2 + 0.1)
print(3 * 0.1)

0.2
0.4
0.2
0.4
0.30000000000000004
0.30000000000000004

In [ ]:
# Type Errors w/ str()function

# ****Example w/ Type Error mistake****
#age = 23
#message = "Happy " + age + "rd Birthday!"
#print(message)

In [ ]:
#Example 1
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 23rd Birthday!

In [ ]:
#Example 2
minutes = 128
message = "Epic " + str(minutes) + "' win. Congrats!"
print(message)

Epic 128' win. Congrats!

In [ ]:
# The Zen of Python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# Lists
bicycles = ['trek', 'cannodale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannodale', 'redline', 'specialized']

In [ ]:
# Access to Elements in a List
#By index / position #
bicycles = ['trek', 'cannodale', 'redline', 'specialized']
print(bicycles[0])

bicycles = ['trek', 'cannodale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

trek
cannodale
specialized

In [ ]:
# Last item in the list [index -1]
bicycles = ['trek', 'cannodale', 'redline', 'specialized']
print(bicycles[-1])

specialized

In [ ]:
#By methods
bicycles = ['trek', 'cannodale', 'redline', 'specialized']
print(bicycles[0].title())

Trek

In [ ]:
# Individual Values from a List
#1st Element + Concatenation
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [ ]:
# Modifying Elements in a List
motorcycles = ['Honda', 'Yamaha', 'susuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['Honda', 'Yamaha', 'susuki']
['ducati', 'Yamaha', 'susuki']

In [ ]:
# Appending Elements to the End of a List
motorcycles = ['Honda', 'Yamaha', 'susuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['Honda', 'Yamaha', 'susuki']
['Honda', 'Yamaha', 'susuki', 'ducati']

In [ ]:
# Append() method using an empty list
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
#Insert Elements into a List
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
# Remove Items from a List
motorcycles = ['Honda', 'Yamaha', 'Suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['Honda', 'Yamaha', 'Suzuki']
['Yamaha', 'Suzuki']

In [ ]:
# Remove knowing the Index
motorcycles = ['Honda', 'Yamaha', 'Suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['Honda', 'Yamaha', 'Suzuki']
['Honda', 'Suzuki']

In [ ]:
# Remove using the pop() Method
motorcycles = ['Honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['Honda', 'yamaha', 'suzuki']
['Honda', 'yamaha']
suzuki

In [ ]:
# Applied po() Method example
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

In [ ]:
# Pop Items from any Position in a List
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print('The first motorcycle i owned was a ' + first_owned.title() + '.')

The first motorcycle i owned was a Honda.

In [ ]:
# Remove an Item by Value
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
# Remove to work with a value that's being removed from a list
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
# Sorting Lists Permanently in alphabetical order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
# Reverting list in alphabetical order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
# Sort a list temporaroly
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here's the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here's the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
# Print list in Reverse Order
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print("\nHere is the reverse list.")
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

Here is the reverse list.
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
# Find the Length of a List
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(len(cars))

4

In [ ]:
# List index errors
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

In [ ]:
# Looping trough a list
magicians = ['alice', 'david', 'carolina']
for magician in magicians: 
    print(magician)

alice
david
carolina

In [ ]:
# Work beyond loops
magicians = ['alice', 'david', 'carolina']
for magician in magicians: 
    print(magician.title() + ", that was a great trick!")

magicians = ['alice', 'david', 'carolina']
for magician in magicians: 
    print(magician.title() + ", that was a great trick!")
    print("i can't wait to see your next trick, "+ magician.title() + ".\n")
print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
Alice, that was a great trick!
i can't wait to see your next trick, Alice.

David, that was a great trick!
i can't wait to see your next trick, David.

Carolina, that was a great trick!
i can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [ ]:
# Making numerical lists
for value in range(1,5):
  print (value)

numbers = list(range(1,6))
print(numbers)

even_numbers = list(range(2,11,2))
print(even_numbers)

squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

1
2
3
4
[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#List Comprehension
squares = [value**2 for value in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Slice a List
prayers = ['Charles', 'Martina', 'Michael', 'Florence', 'Eli']
print(prayers)

prayers = ['Charles', 'Martina', 'Michael', 'Florence', 'Eli']
print(prayers[0:3])

['Charles', 'Martina', 'Michael', 'Florence', 'Eli']
['Charles', 'Martina', 'Michael']

In [ ]:
#Reverse slicing 
prayers = ['Charles', 'Martina', 'Michael', 'Florence', 'Eli']
print(prayers[-3:])

['Michael', 'Florence', 'Eli']

In [ ]:
#Looping through a slice
prayers = ['Charles', 'Martina', 'Michael', 'Florence', 'Eli']
print("Here are the first three players on my team:")
for prayer in prayers[:3]:
    print(prayer.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [ ]:
#Copying an entire list
my_foods = ['Pizza', 'Sushi', 'Creme-Brule']
friends_foods = my_foods[:]

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friends_foods)

My favorite foods are:
['Pizza', 'Sushi', 'Creme-Brule']

My friend's favorite foods are:
['Pizza', 'Sushi', 'Creme-Brule']

In [ ]:
#Two separate lists
my_foods = ['Pizza', 'Sushi', 'Creme-Brule']
friends_foods = my_foods[:]

my_foods.append('carrot cake')
friends_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friends_foods)

My favorite foods are:
['Pizza', 'Sushi', 'Creme-Brule', 'carrot cake']

My friend's favorite foods are:
['Pizza', 'Sushi', 'Creme-Brule', 'ice cream']

In [ ]:
# Using Tuples
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [ ]:
#Writing over a Tuple
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

In [ ]:
# STORE A MESSAGE IN A VARIABLE
greeting = "Greeting: Buongiorno!"
print(greeting)

Greeting: Buongiorno!

In [ ]:
# STORE A PERSON'S NAME IN A VARIABLE
name = "HASHEM"
print(name.upper())

name = "HASHEM"
print(name.lower())

name = "Hashem"
print(name.title())

HASHEM
hashem
Hashem

In [ ]:
#WRITING PRACTICE
book_quotes = "\nEntre más les enseño a quienes desean aprender, más aprendo yo mismo.\n \nUno nunca sabe cuál es el precio perfecto hasta que alguien más se interesa en el negocio.\n \nEl ingreso ganado es sobre el que más impuesto se paga; el pasivo es sobre el que menos se paga.\n \nEn el cambiante mundo de hoy ya no cuenta tanto lo que sabes porque el conocimiento se vuelve obsoleto demasiado pronto, lo que importa es la velocidad con la que aprendes.\n \nSi las razones no son lo suficientemente fuertes, la realidad que te presente el camino podría superar tus anhelos.\n \nNuestros hábitos de consumo reflejan quienes somos en realidad.\n \nLa crítica puede cegarnos, en tanto que el análisis abriría nuestros ojos.\n \nEnlistar los 'No quiero' y 'Los Quiero' para volverme ric@, es decir, las razones emocionales profundas.\n \nEl análisis le permite a los ganadores confirmar que los críticos están ciegos y detectar oportunidades que los demás soslayan.\n \nLa clave del éxito radica en encontrar lo que las otras personas dejan pasar.\n \nLa mayoría de la gente sólo ve los números y pasa por alto lo que comunican.\n \nPagate entre el 15% y el 20%.\n \nSi no se tiene la fortaleza mental, el dinero siempre fluirá hacia los caminos que pongan menos resistencia.\n \nRecomendación de incrementar el dinero entre el 5% & 10%\n \nEnseña y recibirás el poder de dar.\n \nSi una persona tenía dinero, ya estaba proveyendo algo que necesitaban otros.\n \nEl mundo es un reflejo de lo que haces.\n \nLo que está en tu mente determina lo que está en tus manos.\n \nPara que haya beneficios en un negocio, debe haber dos elementos: una oferta y cambio.\n \nLas ganancias se hacen al comprar, no al vender.\n \nCompra el pastel y luego córtalo en rebanadas.\n \nUn empleo es en realidad una solución a corto plazo para un problema permanente.\n \nSi tienes poco dinero y quieres volverte rico, primero tienes que enfocarte, es decir, dejar de ser equilibrado.\n \nLa gente equilibrada sólo permanece en un solo lugar.\n \nPara avanzar primero tienes que desbalancearte un poco, dejarte ir.\n \nColoca muchos huevos en pocas canastas y enfócate.\n \nF-O-C-U-S es igual a:\n\n'Follow One Course Until Successful'.\n \nSi odias perder, entonces juega a la segura. Si perder te debilita, no te arriesgues, solo invierte de manera equilibrada.\n \nSiempre haz ofertas, alguien más podría decir que sí.\n \nLos perdedores siempre evitan perder, pero el fracaso es lo que templa el espíritu de los ganadores.\n \nTodos tenemos un 'Chicken Little' interno. Es el único pollito en el que todos nos convertimos cuando el miedo y la duda empañan nuestros pensamientos.\n \nLa escuela nos ha condicionado a evitar los errores. De hecho, castiga a los estudiantes que los cometen.\n \nEl miedo y la duda desenfrenada producen cínicos.\n \nLos cínicos critican y los ganadores analizan.\n \nThink big, start small, move fast.\n"
print(book_quotes)

Entre más les enseño a quienes desean aprender, más aprendo yo mismo.

Uno nunca sabe cuál es el precio perfecto hasta que alguien más se interesa en el negocio.

El ingreso ganado es sobre el que más impuesto se paga; el pasivo es sobre el que menos se paga.

En el cambiante mundo de hoy ya no cuenta tanto lo que sabes porque el conocimiento se vuelve obsoleto demasiado pronto, lo que importa es la velocidad con la que aprendes.

Si las razones no son lo suficientemente fuertes, la realidad que te presente el camino podría superar tus anhelos.

Nuestros hábitos de consumo reflejan quienes somos en realidad.

La crítica puede cegarnos, en tanto que el análisis abriría nuestros ojos.

Enlistar los 'No quiero' y 'Los Quiero' para volverme ric@, es decir, las razones emocionales profundas.

El análisis le permite a los ganadores confirmar que los críticos están ciegos y detectar oportunidades que los demás soslayan.

La clave del éxito radica en encontrar lo que las otras personas dejan pasar.

La mayoría de la gente sólo ve los números y pasa por alto lo que comunican.

Pagate entre el 15% y el 20%.

Si no se tiene la fortaleza mental, el dinero siempre fluirá hacia los caminos que pongan menos resistencia.

Recomendación de incrementar el dinero entre el 5% & 10%

Enseña y recibirás el poder de dar.

Si una persona tenía dinero, ya estaba proveyendo algo que necesitaban otros.

El mundo es un reflejo de lo que haces.

Lo que está en tu mente determina lo que está en tus manos.

Para que haya beneficios en un negocio, debe haber dos elementos: una oferta y cambio.

Las ganancias se hacen al comprar, no al vender.

Compra el pastel y luego córtalo en rebanadas.

Un empleo es en realidad una solución a corto plazo para un problema permanente.

Si tienes poco dinero y quieres volverte rico, primero tienes que enfocarte, es decir, dejar de ser equilibrado.

La gente equilibrada sólo permanece en un solo lugar.

Para avanzar primero tienes que desbalancearte un poco, dejarte ir.

Coloca muchos huevos en pocas canastas y enfócate.

F-O-C-U-S es igual a:

'Follow One Course Until Successful'.

Si odias perder, entonces juega a la segura. Si perder te debilita, no te arriesgues, solo invierte de manera equilibrada.

Siempre haz ofertas, alguien más podría decir que sí.

Los perdedores siempre evitan perder, pero el fracaso es lo que templa el espíritu de los ganadores.

Todos tenemos un 'Chicken Little' interno. Es el único pollito en el que todos nos convertimos cuando el miedo y la duda empañan nuestros pensamientos.

La escuela nos ha condicionado a evitar los errores. De hecho, castiga a los estudiantes que los cometen.

El miedo y la duda desenfrenada producen cínicos.

Los cínicos critican y los ganadores analizan.

Think big, start small, move fast.

In [ ]:
#Store a person’s name in a variable, and print a message to that person. Your message should be simple, such as, “Hello Eric, would you like to learn some Python today?”
message = "Hello Erin, would you like to learn some Python today?"
print(message)
print(message.title())
print(message.upper())
print(message.lower())

Hello Erin, would you like to learn some Python today?
Hello Erin, Would You Like To Learn Some Python Today?
HELLO ERIN, WOULD YOU LIKE TO LEARN SOME PYTHON TODAY?
hello erin, would you like to learn some python today?

In [ ]:
#Write addition, subtraction, multiplication, and division operations that each result in the number 8. Your output should simply be four lines with the number 8 appearing once on each line.
print(4 + 4)
print(5 + 3)
print(10 - 2)
print(8 * 1)

number = " 7 "
message = "This is my favorite number:" + number + "\nTadaaaaaa!\n"
print(message)

score_1 = "\n72\n"
score_2 = "\n135\n"
message = "Total game score:" + score_1 + "\nPrevious Score:" + score_2
print(message)

8
8
8
8
This is my favorite number: 7
Tadaaaaaa!

Total game score:
72

Previous Score:
135

In [ ]:
#Store the names of a few of your friends in a list called names. Print each person’s name by accessing each element in the list, one at a time.

friends = ['Sofia', 'Denisse', 'Lizeth']
print(friends)

friends = ['Sofia', 'Denisse', 'Lizeth']
message_1 = "." + "\nShe's my friend number 1"
message_2 = "." + "\nShe's my friend number 2"
message_3 = "." + "\nShe's my friend number 3\n"
print(friends[0] + message_1)
print(friends[1] + message_2)
print(friends[2] + message_3)

['Sofia', 'Denisse', 'Lizeth']
Sofia.
She's my friend number 1
Denisse.
She's my friend number 2
Lizeth.
She's my friend number 3

In [ ]:
#If you could invite anyone, living or deceased, to dinner, who would you invite? Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

Guest_list = []
message = ". The honor of your presence is requested."

Guest_list.append('H.P. Lovecraft' + message)
Guest_list.append('Edgar Allan Poe' + message)
Guest_list.append('Badia' + message)
Guest_list.append('Nikola Tesla' + message)

print(Guest_list)

Guest_list = ['\nH.P. Lovecraft', 'Edgar Allan Poe', 'Badia', 'Nikola Tesla']
message = ('\033[3m' + ". The honor of your presence is requested.\n" +
           '\033[0m')

print('\033[1m' + Guest_list[0] + '\033[0m' + message)
print(Guest_list[1] + message)
print(Guest_list[2] + message)
print(Guest_list[3] + message)

['H.P. Lovecraft. The honor of your presence is requested.', 'Edgar Allan Poe. The honor of your presence is requested.', 'Badia. The honor of your presence is requested.', 'Nikola Tesla. The honor of your presence is requested.']

H.P. Lovecraft. The honor of your presence is requested.

Edgar Allan Poe. The honor of your presence is requested.

Badia. The honor of your presence is requested.

Nikola Tesla. The honor of your presence is requested.

In [ ]:
#Start with your program from Exercise 3-4. Add a print statement at the end of your program stating the name of the guest who can’t make it. Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting. Print a second set of invitation messages, one for each person who is still in your list.

Guest_list = ['H.P. Lovecraft', '\nEdgar Allan Poe', 'Badia', 'Nikola Tesla']
message = ('\033[3m' + ". The honor of your presence is requested.\n" +
           '\033[0m')

del Guest_list[0]
print('\033[1m' + Guest_list[0] + '\033[0m' + message)
print(Guest_list[1] + message)
print(Guest_list[2] + message)

Edgar Allan Poe. The honor of your presence is requested.

Badia. The honor of your presence is requested.

Nikola Tesla. The honor of your presence is requested.

In [ ]:
#You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner. Add a print statement to the end of your program informing people that you found a bigger dinner table.

print(
  '\033[3m' +
  "\nDear all, it seems we have encountered the possibility to grow our guest list, therefore, please excuse any inconvenience it may bring upon the dinner. Here's the updated guest list:\n"
  + '\033[0m')
Guest_list = ['H.P. Lovecraft', 'Edgar Allan Poe', 'Badia', 'Nikola Tesla']
del Guest_list[0]
Guest_list.insert(0, 'Ada Lovelace')
Guest_list.insert(2, 'Aldous Huxley')
Guest_list.insert(5, 'Simone de Beauvoir')
print(Guest_list)

Guest_list = [
  '\nAda Lovelace', 'Edgar Allan Poe', 'Aldous Huxley', 'Badia',
  'Nikola Tesla', 'Simone de Beauvoir'
]
message = ('\033[3m' + ". The honor of your presence is requested.\n" +
           '\033[0m')

print('\033[1m' + Guest_list[0] + '\033[0m' + message)
print('\033[1m' + Guest_list[1] + '\033[0m' + message)
print('\033[1m' + Guest_list[2] + '\033[0m' + message)
print('\033[1m' + Guest_list[3] + '\033[0m' + message)
print('\033[1m' + Guest_list[4] + '\033[0m' + message)
print('\033[1m' + Guest_list[5] + '\033[0m' + message)

print(
  '\033[3m' +
  "\nDear all, it seems we have encountered ouserlves in a diligence regarding out dinner table; with that being said, please excuse any inconvenience it may bring upon the dinner. Here's our reduced guest list:\n"
  + '\033[0m')

Dear all, it seems we have encountered the possibility to grow our guest list, therefore, please excuse any inconvenience it may bring upon the dinner. Here's the updated guest list:

['Ada Lovelace', 'Edgar Allan Poe', 'Aldous Huxley', 'Badia', 'Nikola Tesla', 'Simone de Beauvoir']

Ada Lovelace. The honor of your presence is requested.

Edgar Allan Poe. The honor of your presence is requested.

Aldous Huxley. The honor of your presence is requested.

Badia. The honor of your presence is requested.

Nikola Tesla. The honor of your presence is requested.

Simone de Beauvoir. The honor of your presence is requested.


Dear all, it seems we have encountered ouserlves in a diligence regarding out dinner table; with that being said, please excuse any inconvenience it may bring upon the dinner. Here's our reduced guest list:

In [ ]:
#Example 1
Guest_list = [
  'Ada Lovelace', 'Edgar Allan Poe', 'Aldous Huxley', 'Badia', 'Nikola Tesla',
  'Simone de Beauvoir'
]
del Guest_list[0:4]
print(Guest_list)

['Nikola Tesla', 'Simone de Beauvoir']

In [ ]:
#Example 2
Guest_list = [
  '\nAda Lovelace', 'Edgar Allan Poe', 'Aldous Huxley', 'Badia',
  'Nikola Tesla', 'Simone de Beauvoir'
]

guest_removed_1 = Guest_list.pop(0)
guest_removed_2 = Guest_list.pop(0)
guest_removed_3 = Guest_list.pop(0)
guest_removed_4 = Guest_list.pop(0)

print(guest_removed_1 + "." +
      ' We are extremely sorry about your uninvitation. Good luck next time!')
print(guest_removed_2 + "." +
      ' We are extremely sorry about your uninvitation. Good luck next time!')
print(guest_removed_3 + "." +
      ' We are extremely sorry about your uninvitation. Good luck next time!')
print(
  guest_removed_4 + "." +
  ' We are extremely sorry about your uninvitation. Good luck next time!\n')

Guest_accepted_1 = Guest_list[0]
Guest_accepted_2 = Guest_list[1]
print(Guest_accepted_1 + "." + " Congratulations! You are still invited.")
print(Guest_accepted_2 + "." + " Congratulations! You are still invited.")

print("\nUpdated guest list:")
del Guest_list[0]
del Guest_list[0]
print(Guest_list)

Ada Lovelace. We are extremely sorry about your uninvitation. Good luck next time!
Edgar Allan Poe. We are extremely sorry about your uninvitation. Good luck next time!
Aldous Huxley. We are extremely sorry about your uninvitation. Good luck next time!
Badia. We are extremely sorry about your uninvitation. Good luck next time!

Nikola Tesla. Congratulations! You are still invited.
Simone de Beauvoir. Congratulations! You are still invited.

Updated guest list:
[]

In [ ]:
# Think of at least five places in the world you’d like to visit. Store the locations in a list. Make sure the list is not in alphabetical order. Print your list in its original order. Don’t worry about printing the list neatly, just print it as a raw Python list. Use sorted() to print your list in alphabetical order without modifying the actual list. Show that your list is still in its original order by printing it. Use sorted() to print your list in reverse alphabetical order without changing the order of the original list. Show that your list is still in its original order by printing it again. Use reverse() to change the order of your list. Print the list to show that its order has changed. Use reverse() to change the order of your list again. Print the list to show it’s back to its original order. Use sort() to change your list so it’s stored in alphabetical order. Print the list to show that its order has been changed. Use sort() to change your list so it’s stored in reverse alphabetical order. Print the list to show that its order has changed.

places_to_visit = ['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']
print(places_to_visit)

places_to_visit = ['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']
print(sorted(places_to_visit))

places_to_visit = [
  'Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam', 'Ibiza'
]
places_to_visit.reverse()
print(places_to_visit)

Guest_list = ['\nH.P. Lovecraft', 'Edgar Allan Poe', 'Badia', 'Nikola Tesla']
print(len(Guest_list))

['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']
['Amsterdam', 'Japan', 'Morocco', 'Portugal', 'Spain']
['Ibiza', 'Amsterdam', 'Morocco', 'Japan', 'Spain', 'Portugal']
4

In [ ]:
#Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.
print("This is my favorite type of pizza:")
favorite_pizza = ['Napolitana', 'Romana', 'Siciliana', 'New York style']
for pizza in favorite_pizza:
  print("I like " + pizza + " pizza")

This is my favorite type of pizza:
I like Napolitana pizza
I like Romana pizza
I like Siciliana pizza
I like New York style pizza

In [ ]:
#Use a for loop to print the numbers from 1 to 20, inclusive.
for value in range(1, 21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#Use the third argument of the range() function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.
odd_numbers = list(range(1, 22, 2))
for number in odd_numbers:
  print(number)

1
3
5
7
9
11
13
15
17
19
21

In [ ]:
#Make a list of the multiples of 3 from 3 to 30. Use a for loop to print the numbers in your list.
multiple_numbers = list(range(3, 33, 3))
for number in multiple_numbers:
  print(number)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.
cubes = []
for value in range(1, 11):
  cube = value**3
  cubes.append(cube)

print(cubes)

for value in cubes:
  print(value)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
1
8
27
64
125
216
343
512
729
1000

In [ ]:
#Use a list comprehension to generate a list of the first 10 cubes.
cubes = [value**3 for value in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#Using one of the programs you wrote in this chapter, add several lines to the end of the program that do the following: 

#Print the message, The first three items in the list are:. Then use a slice to print the first three items from that program’s list.
places_to_visit = ['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']
print(places_to_visit)

print("\nThe first three items in the list are:")
places_to_visit = ['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']
print(places_to_visit[0:3])

['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']

The first three items in the list are:
['Portugal', 'Spain', 'Japan']

In [ ]:
#Print the message, Three items from the middle of the list are:. Use a slice to print three items from the middle of the list. 
print("\nThree items from the middle of the list are:")
places_to_visit = ['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']
print(places_to_visit[1:4])

Three items from the middle of the list are:
['Spain', 'Japan', 'Morocco']

In [ ]:
#Print the message, The last three items in the list are:. Use a slice to print the last three items in the list.
print("\nThe last three items in the list are:")
places_to_visit = ['Portugal', 'Spain', 'Japan', 'Morocco', 'Amsterdam']
print(places_to_visit[2:])

The last three items in the list are:
['Japan', 'Morocco', 'Amsterdam']

In [ ]:
#Start with your program from Exercise 4-1 (page 60). Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the following: Add a new pizza to the original list.

print("These are our favorite type of pizza:")
friend_pizzas = ['Napolitana', 'Romana', 'Siciliana', 'New York style']
print(friend_pizzas)

friend_pizzas.append('Deep dish')
print(friend_pizzas)

These are our favorite type of pizza:
['Napolitana', 'Romana', 'Siciliana', 'New York style']
['Napolitana', 'Romana', 'Siciliana', 'New York style', 'Deep dish']

In [ ]:
#Add a different pizza to the list friend_pizzas.
friend_pizzas = ['Napolitana', 'Romana', 'Siciliana', 'New York style']
print(friend_pizzas)

friend_pizzas.append('Deep dish')
print(friend_pizzas)

del friend_pizzas[0]
friend_pizzas.insert(0, 'Mexicana')
print(friend_pizzas)

['Napolitana', 'Romana', 'Siciliana', 'New York style']
['Napolitana', 'Romana', 'Siciliana', 'New York style', 'Deep dish']
['Mexicana', 'Romana', 'Siciliana', 'New York style', 'Deep dish']

In [ ]:
#Prove that you have two separate lists. Print the message, My favorite pizzas are:, and then use a for loop to print the first list. Print the message, My friend’s favorite pizzas are:, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

#My favorite pizzas
message = "\nMy favorite pizzas are:"
print(message)

My favorite pizzas are:

In [ ]:
# A for loop 
friend_pizzas = ['Napolitana', 'Romana', 'Siciliana', 'New York style']
friend_pizzas.append('Deep dish')
for pizza in friend_pizzas:
    print(pizza)

Napolitana
Romana
Siciliana
New York style
Deep dish

In [ ]:
#My friends pizzas

message = "\nMy friends favorite pizzas are:"
print(message)

My friends favorite pizzas are:

In [ ]:
#A for loop
my_pizzas = ['Napolitana', 'Romana', 'Siciliana', 'New York style']
my_pizzas.append('Mexicana')
for pizza in my_pizzas:
    print(pizza)

Napolitana
Romana
Siciliana
New York style
Mexicana

In [ ]:
#A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple. Use a for loop to print each food the restaurant offers. Try to modify one of the items, and make sure that Python rejects the change. The restaurant changes its menu, replacing two of the items with different foods. Add a block of code that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

#tuple
basic_foods = (('lasagna'), ('soup'), ('meat'), ('pasta'), ('salads'))
print(basic_foods)

('lasagna', 'soup', 'meat', 'pasta', 'salads')

In [ ]:
#A for loop
basic_foods = (('\nlasagna'), ('soup'), ('meat'), ('pasta'), ('salads'))
for food in basic_foods:
    print(food)

lasagna
soup
meat
pasta
salads

In [ ]:
#modificaction with error
#basic_foods = (('lasagna'), ('soup'), ('meat'), ('pasta'), ('salads'))
#basic_foods[0] = ('lobster')
#print(basic_foods)

#Food items changed with A for loop.
basic_foods = (('lasagna'), ('soup'), ('meat'), ('pasta'), ('salads'))
print("\nOriginal food menu:")
for food in basic_foods:
    print(food)

basic_foods = (('lobster'), ('vegetables'), ('meat'), ('pasta'), ('salads'))
print("\nModified food elements:")
for food_elements in basic_foods:
    print(food_elements)

Original food menu:
lasagna
soup
meat
pasta
salads

Modified food elements:
lobster
vegetables
meat
pasta
salads

In [ ]:
#Choose three of the programs you’ve written in this chapter and modify each one to comply with PEP 8. Use four spaces for each indentation level. Set your text editor to insert four spaces every time you press tab, if you haven’t already done so (see Appendix B for instructions on how to do this).

#Pending task on VSCode 

#If statements
cars = ['\naudi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw': 
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [ ]:
#Conditional test true
car = 'bmw'
if car == 'bmw':
   print("True")

True

In [ ]:
#Conditional test false
car = 'audi'
if car == 'bmw':
   print("True")

car = 'Audi'
if car == 'audi':
   print("True")

car = 'Audi'
if car.lower() == 'audi':
   print("True")
   print(car)

True
Audi

In [ ]:
#Inequality
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
   print ("Hold the anchovies!")

Hold the anchovies!

In [ ]:
#Numerical comparisons : and
age = 18
if age == 18:
   print("True")

answer = 17
if answer != 42:
  print("That is not the correct answer. Please try again!")

age = 19
if age < 21:
  print("True")

if age <= 21:
  print("True")

if age > 21:
  print("False")

if age >= 21: 
  print("False")

True
That is not the correct answer. Please try again!
True
True

In [ ]:
#Check multiple conditions
age_0 = 22
age_1 = 18
if age_0 >= 21 and age_1 >= 21:
  print("False")

age_1 = 21
if age_0 >= 21 and age_1 >= 21: 
  print("True")

True

In [ ]:
# or
age_0 = 22
age_1 = 18
if age_0 >= 21 or age_1 >= 21: 
  print("True")

age_0 = 18
if age_0 >= 21 or age_1 >= 21:
  print("False")

True

In [ ]:
#Wether a Value Is in a List
requested_toppings = ['mushrooms', 'onions', 'pineapple']
if 'mushrooms' in requested_toppings:
  print("True")

if 'pepperoni' in requested_toppings:
  print("False")

True

In [ ]:
#Value is NOT in a list
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'
if user not in banned_users:
  print(user.title() + ", you can post a response if you wish.")

Marie, you can post a response if you wish.

In [ ]:
#Booleans
True

True

In [ ]:
#5-1. Conditional Tests: Write a series of conditional tests. Print a statement describing each test and your prediction for the results of each test. Your code should look something like this:

car = 'alpha romeo'
print("Is car == 'alpha romeo'? I predict True.")
print(car == 'alpha romeo')

print("\nIs car == 'audi' I predict False.")
print(car == 'audi')

Is car == 'alpha romeo'? I predict True.
True

Is car == 'audi' I predict False.
False

In [ ]:
#You don’t have to limit the number of tests you create to 10. If you want to try more comparisons, write more tests and add them to conditional_tests.py. Have at least one True and one False result for each of the following:

# Tests for equality and inequality with strings
# Tests using the lower() function
# Numerical tests involving equality and inequality, greater than and less than, greater than or equal to, and less than or equal to
# Tests using the and keyword and the or keyword
# Test whether an item is in a list
# Test whether an item is not in a list

#Equality
pen = 'blue'
pen == 'blue'

True

In [ ]:
#Inequality
soup = 'minestrone'
soup == 'vegetable soup'

False

In [ ]:
#Tests using the lower() function
number_x = 'A'
number_y = 'b'
if number_x == 'A':
  print (number_x.lower())

a

In [ ]:
# Numerical tests involving equality and inequality, greater than and less than, greater than or equal to, and less than or equal to

#Numerical equality
score = 126
score == 126

True

In [ ]:
#Numerical inequality
Count = 75
Count == 35

False

In [ ]:
#Numerical greater than / equal to, or 

number = 1
score = 2

number <=5 or variable <=0

True

In [ ]:
#Numerical less than / equal to, or 
apple = 25
orange = 15

apple <=50 or orange >=15

True

In [ ]:
# Test whether an item is in a list

login_username = ['Bella', 'Andrew', 'Edgar', 'Ana']
user = 'Ana'

if user in login_username:
  print(user.title() + ", please proceed!")

Ana, please proceed!

In [ ]:
#Test whether an item is not in a list

login_username = ['Bella', 'Andrew', 'Edgar']
user = 'Ana'

if user not in login_username:
  print(user.title() + ", please register online!")

Ana, please register online!

In [ ]:
#Simple if statements

age = 19
if age >= 18:
  print("You are old enough to vote!")

You are old enough to vote!

In [ ]:
#if-else statements

age = 17
if age >= 18:
  print("You are old enough to vote!")
  print("Have you registered to vote yet?")

else: 
  print("Sorry, you are too young to vote.")
  print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

In [ ]:
#The if-elif-else Chain

age = 12

if age < 4:
   print("Your admission cost is $0.")
elif age < 18:
  print("Your admission cost is $5.")
else: 
  print("Your admission cost is $10.")

#simplification 

age = 12
if age < 4:
  price = 0
elif age < 18:
  price = 5
else:
  price = 10
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.
Your admission cost is $5.

In [ ]:
#Multiple elif Blocks
age = 12
if age < 4:
  price = 0
elif age < 18:
  price = 5

elif age < 65:
  price = 10
else:
  price = 5
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

In [ ]:
#Omitting the else Block
age = 12
if age < 4:
  price = 0
elif age < 18:
  price = 5
elif age < 65:
  price = 10
elif age >= 65:
  price = 5
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

In [ ]:
#Testing multiple conditions 
#Pizza toppings

requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
if 'pepperoni' in requested_toppings: 
    print("Adding pepperoni.")
if 'extra cheese'in requested_toppings:
    print("Adding extra cheese.")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [ ]:
#Adding if-elif-else 
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
elif 'pepperoni' in requested_toppings: 
    print("Adding pepperoni.")
elif 'extra cheese'in requested_toppings:
    print("Adding extra cheese.")

print("\nFinished making your pizza!")

Adding mushrooms.

Finished making your pizza!

In [ ]:
#Alien Colors 1 : Imagine an alien was just shot down in a game. Create a variable called alien_color and assign it a value of 'green', 'yellow', or 'red'.

alien_color = 'green'
if alien_color == 'green':
    print("you earned 5 points")

you earned 5 points

In [ ]:
#Write one version of this program that passes the if test and another that fails. (The version that fails will have no output.)
#PASS
alien_color = ['green', 'yellow', 'red']
if 'green'in alien_color: 
   print("\nYou just earned 5 points!")

#FAIL
alien_color = ['green', 'yellow', 'red']
if 'green'in alien_color: 
   print("Green is dead!")
if 'brown'in alien_color:
   print("Brown is dead!")

You just earned 5 points!
Green is dead!

In [ ]:
#Alien colors 2: if / else statement  
alien_color = ['green', 'yellow', 'red']
if 'green' in alien_color:
    print("You've just earned 5 points!")
else: 
    print("You've just earned 10 points!")

if 'black' in alien_color:
    print("You've just earned 5 points!")
else: 
    print("You've just earned 10 points!")

You've just earned 5 points!
You've just earned 10 points!

In [ ]:
#Alien colors 3: if-elif-else chain 
#1
alien_color = 'green'
if 'green' in alien_color:
    print("You've just earned 5 points!")
elif 'yellow' in alien_color:
    print("You've just earned 10 points!")
else: 
    print("You've just earned 15 points!")

You've just earned 5 points!

In [ ]:
#Alien colors 3: if-elif-else chain 
#2
alien_color = 'yellow'
if 'green' in alien_color:
    print("You've just earned 5 points!")
elif 'yellow' in alien_color:
    print("You've just earned 10 points!")
else: 
    print("You've just earned 15 points!")

You've just earned 10 points!

In [ ]:
#Alien colors 3: if-elif-else chain 
#3
alien_color = 'red'
if 'green' in alien_color:
    print("You've just earned 5 points!")
elif 'yellow' in alien_color:
    print("You've just earned 10 points!")
else: 
    print("You've just earned 15 points!")

You've just earned 15 points!

In [ ]:
#Stages of Life: Write an if-elif-else chain that determines a person’s stage of life. Set a value for the variable age, and then:

#If the person is less than 2 years old, print a message that the person is a baby.

person_age = 12
if person_age < 2:
   print("You're a baby!")
elif person_age <=4:
   print("You're a toddler!")
elif person_age <=13:
   print("You're a kid!")
elif person_age <=20:
   print("You're a teenager!")
elif person_age <=65:
   print("You're an adult!")
else:
   print("You're an elder!")

You're a kid!

In [ ]:
#Favorite Fruit: Make a list of your favorite fruits, and then write a series of independent if statements that check for certain fruits in your list.

#Make a list of your three favorite fruits and call it favorite_fruits.
#LIST
super_favorite_fruits = ['banana', 'litchi', 'mango', 'kiwi']
print(super_favorite_fruits)

#Write five if statements. Each should check whether a certain kind of fruit is in your list. If the fruit is in your list, the if block should print a statement, such as "You really like bananas!"

if 'kiwki' in super_favorite_fruits:
    print("You really like kiwis!")
if 'banana' in super_favorite_fruits:
    print("You really like bananas!")
if 'litchi' in super_favorite_fruits:
    print("You really like litchi!")
if 'mango' in super_favorite_fruits:
    print("You really like mangos!")

['banana', 'litchi', 'mango', 'kiwi']
You really like bananas!
You really like litchi!
You really like mangos!

In [ ]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']

for requested_toppings in requested_toppings:
    print("Adding " + requested_toppings + ".")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding green peppers.
Adding extra cheese.

Finished making your pizza!

In [ ]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']

for requested_toppings in requested_toppings:
    if requested_toppings == 'green peppers':
       print("Sorry, we are out of green peppers right now.")
    else:
       print("Adding " + requested_toppings + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we are out of green peppers right now.
Adding extra cheese.

Finished making your pizza!

In [ ]:
requested_toppings = []
if requested_toppings:
   for requested_topping in requested_toppings:
        print("Adding " + requested_topping + ".")
print("\nFinished making pizza!")

Finished making pizza!

In [ ]:
requested_toppings = []
if requested_toppings:
   for requested_topping in requested_toppings:
        print("Adding " + requested_topping + ".")
else:
  print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

In [ ]:
available_toppings = ['mushrooms', 'olives', 'green peppers', 'pepperoni', 'pineapple', 'extra cheese']

requested_toppings = ['mushrooms', 'french fries', 'extra cheese']

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print("Adding " + requested_topping + ".")
    else:
        print("Sorry, we don't have " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!

In [ ]:
#Make a list of five or more usernames, including the name 'admin'. Imagine you are writing code that will print a greeting to each user after they log in to a website. Loop through the list, and print a greeting to each user:

user_names = ['Admin', 'Sarah', 'Eric', 'Chad', 'Elisa']

for user_name in user_names:
    if user_name == 'Admin':
       print("Hello " + user_name + ", would you like to see a status report?")
    else: 
        print("Hello " + user_name + ", thank you for loging in again.")

Hello Admin, would you like to see a status report?
Hello Sarah, thank you for loging in again.
Hello Eric, thank you for loging in again.
Hello Chad, thank you for loging in again.
Hello Elisa, thank you for loging in again.

In [ ]:
#No Users: Add an if test to hello_admin.py to make sure the list of users is not empty.
user_list = []

if user_list:
    for user_list_name in user_list:
        print("Hello " + user_list_name + ", thank you for loging in again.")
else: 
        print("We need to find some users!")

We need to find some users!

In [ ]:
#Do the following to create a program that simulates how websites ensure that everyone has a unique username.
#Loop through the new_users list to see if each new username has already been used. If it has, print a message that the person will need to enter a new username. 
#If a username has not been used, print a message saying that the username is available.

current_users = ['Dennise', 'Sarah', 'Eric', 'Chad', 'Elisa']

new_users = ['Aba', 'Sarah', 'John', 'Chad', 'Helen']

for new_user in new_users:
    if new_user in current_users:
       print("Please add another name. " + new_user +  " has already been used.")
    else: 
        print(new_user + " is available.")

Aba is available.
Please add another name. Sarah has already been used.
John is available.
Please add another name. Chad has already been used.
Helen is available.

In [ ]:
#Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [ ]:
#Store the numbers 1 through 9 in a list.
#Loop through the list.
#Use an if-elif-else chain inside the loop to print the proper ordinal ending for each number. Your output should read "1st 2nd 3rd 4th 5th 6th 7th 8th 9th", and each result 
#should be on a separate line.

number_list_00 = [1,2,3,4,5,6,7,8,9]
for numbers in number_list_00:
    print(numbers)

number_list_00 = [1,2,3,4,5,6,7,8,9]
if 1 in number_list_00:
   print('st')

*****pending to solve ******

1
2
3
4
5
6
7
8
9
st

In [ ]:
#Unit 6 - Sample Dictionary

alien_0 = {'color': 'green', 'points': 5}

print(alien_0['color'])
print(alien_0['points'])

green
5

In [ ]:
#Working with dictionaries / Accesing values in a Dictionary
alien_0 = {'color': 'green', 'points': 5}

new_points = alien_0['points']
print("You just earned " + str(new_points) + " points!")

You just earned 5 points!

In [ ]:
#Adding New Key-Value Pairs
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

alien_0['x_position'] = 0
alien_0['y position'] = 25 
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y position': 25}

In [ ]:
#Starting with an empty dictionary
alien_0 = {}
alien_0['color'] = 'green'
alien_0['points'] = 5

print(alien_0)

{'color': 'green', 'points': 5}

In [ ]:
#Modifying values in a dictionary
alien_0 = {'color': 'green'}
print("The alien is " + alien_0['color'] + ".")

alien_0['color'] = 'yellow'
print("The alien is now " + alien_0['color'] + ".")

The alien is green.
The alien is now yellow.

In [ ]:
#Let's track the position of an alien that can move at different speeds. 
#Determine how far to the right the alien should move.
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print("Original x-position: " + str(alien_0['x_position']))

#Move the alien to the right.
#Determine how far to move the alien based on its current speed.
if alien_0['speed'] == 'slow':
   x_increment = 1
elif alien_0['speed'] == 'medium':
   x_increment = 2
else:
  #This must be a fast alien.
  x_increment = 3

#The new position  is the old position plus the increment.
alien_0['x_position'] = alien_0['x_position'] + x_increment

print("New x-position: " + str(alien_0['x_position']))


#Fast alien

alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'fast'}
print("Original x-position: " + str(alien_0['x_position']))

#Move the alien to the right.
#Determine how far to move the alien based on its current speed.
if alien_0['speed'] == 'slow':
   x_increment = 1
elif alien_0['speed'] == 'medium':
   x_increment = 2
else:
  #This must be a fast alien.
  x_increment = 3

#The new position  is the old position plus the increment.
alien_0['x_position'] = alien_0['x_position'] + x_increment

print("New x-position: " + str(alien_0['x_position']))

Original x-position: 0
New x-position: 2
Original x-position: 0
New x-position: 3

In [ ]:
#Removing Key-Value Pairs
#Remove the key points from the dictionary along with its value.
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

del alien_0['points']
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green'}

In [ ]:
#A dictionary of similar objects 
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',

}
print("Sarah's favorite language is " + 
      favorite_languages['sarah'].title() + 
      ".")

Sarah's favorite language is C.

In [ ]:
#Storing information about a person you know. Store first name, age and the city
#in which they live. Print each piece of information stored in your dictionary.

Zaha_Hadid_information = {'first_name': 'Zaha', 'age': 65, 'city': 'Iraq'}
print(Zaha_Hadid_information['first_name'])
print(Zaha_Hadid_information['age'])
print(Zaha_Hadid_information['city'])

Zaha
65
Iraq

In [ ]:
#Favorite numbers:
#Store people's favorite numbers. Think of five names and use them as keys in your dictionary. 
#think of a favorite number for each person and use them as keys in your dictionary. 
#Think of a favorite number for each person and store each as a value in your dictionary.
#Print each person's name and their favorite number.

Peoples_names = {
    'name_1': 'Lana',
    'name_2': 'Rhodes',
    'name_3': 'Amelie',
    'name_4': 'Andy',
    'name_5': 'Erin'
}

Peoples_numbers = {
    'Lana': '7',
    'Rhodes': '15',
    'Amelie': '30',
    'Andy': '65',
    'Erin': '18'
}

print("His/her name is: " + Peoples_names['name_1'] + " and he's/her number is " + Peoples_numbers['Lana'] + 
       ".") 
print("His/her name is: " + Peoples_names['name_2'] + " and he's/her number is " + Peoples_numbers['Rhodes'] + 
       ".")
print("His/her name is: " + Peoples_names['name_3'] + " and he's/her number is " + Peoples_numbers['Amelie'] + 
       ".")
print("His/her name is: " + Peoples_names['name_4'] + " and he's/her number is " + Peoples_numbers['Andy'] + 
       ".") 
print("His/her name is: " + Peoples_names['name_5'] + " and he's/her number is " + Peoples_numbers['Erin'] + 
       ".")

His/her name is: Lana and he's/her number is 7.
His/her name is: Rhodes and he's/her number is 15.
His/her name is: Amelie and he's/her number is 30.
His/her name is: Andy and he's/her number is 65.
His/her name is: Erin and he's/her number is 18.

In [ ]:
  #Glossary
  #Think of five programming words you've learned about in the previous chapters. Use these words as the keys in your glossary and store their meanings as values.
  #Print each word and its meaning as neatly formatted output. You might print the word followed by a colon and then its meaning
  #Or print the word on one line and then print its meaning indented on a second line. 
  #Use the newline character (\n) to insert a blank line between each word-meaning pair in your output. 

programming_words = {'chapter 1': 'snippets', 'chapter 2': 'concatenated', 'chapter 3': 'popping', 'chapter 4': 'looping', 'chapter 5': 'boolean'}
print(programming_words)

programming_words = {
    'chapter 1': 'snippets',
    'chapter 2': 'concatenated',
    'chapter 3': 'popping',
    'chapter 4': 'looping',
    'chapter 5': 'boolean',

}
print(programming_words['chapter 1'] + "\n" + programming_words['chapter 2'] + "\n" + programming_words['chapter 3'] + "\n" + programming_words['chapter 4'] + "\n" + programming_words['chapter 5'])

{'chapter 1': 'snippets', 'chapter 2': 'concatenated', 'chapter 3': 'popping', 'chapter 4': 'looping', 'chapter 5': 'boolean'}
snippets
concatenated
popping
looping
boolean

In [ ]:
#Looping Through a Dictionary
user_0 = {
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi',
}

for key, value in user_0.items():
    print("\nKey: " + key)
    print("Value: " + value)

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [ ]:
#Looping through key-values pairs with "Favorite_Languages.py" example page on 101
favorite_languages = {
    'jen': 'python',
    'sarah': 'C',
    'edward': 'ruby',
    'phil': 'R',
}

for name, language in favorite_languages.items():
    print(name.title() + "'s favorite language is " + language.title() + ".")

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Ruby.
Phil's favorite language is R.

In [ ]:
#Looping through all the keys in a dictionary (when not working with all the values in a dictionary).

favorite_languages = {
    'jen': 'python',
    'sarah': 'C',
    'edward': 'ruby',
    'phil': 'R',
}

for name in favorite_languages.keys():
    print(name.title())

#Different outputs
favorite_languages = {
    'jen': 'python',
    'sarah': 'C',
    'edward': 'ruby',
    'phil': 'R',
}

for name in favorite_languages:
    print(name.title())

Jen
Sarah
Edward
Phil
Jen
Sarah
Edward
Phil

In [ ]:
#Loop through the names in the dictionary as previously done but when the name matches one of our friends, we'll display a message about their favorite language: 
favorite_languages = {
    'jen': 'python',
    'sarah': 'C',
    'edward': 'ruby',
    'phil': 'R',
}

friends = ['phil', 'sarah']
for name in favorite_languages.keys():
    print(name.title())

    if name in friends:
        print(" Hi " + name.title() +
              ", I see your favorite language is " + 
              favorite_languages[name].title() + "!")

Jen
Sarah
 Hi Sarah, I see your favorite language is C!
Edward
Phil
 Hi Phil, I see your favorite language is R!

In [ ]:
#Find out if a particular person was polled.
favorite_languages = {
    'jen': 'python',
    'sarah': 'C',
    'edward': 'ruby',
    'phil': 'R',
}

if 'erin' not in favorite_languages.keys():
    print("Erin, please take our poll!")

Erin, please take our poll!

In [ ]:
#Looping through a dictionary's keys in order
favorite_languages = {
    'jen': 'python',
    'sarah': 'C',
    'edward': 'ruby',
    'phil': 'R',
}

for name in sorted(favorite_languages.keys()):
    print(name.title() + ", thank you for taking the poll!")

Edward, thank you for taking the poll!
Jen, thank you for taking the poll!
Phil, thank you for taking the poll!
Sarah, thank you for taking the poll!

In [ ]:
#Looping through all values in a dictionary
favorite_languages = {
    'jen': 'python',
    'sarah': 'C',
    'edward': 'ruby',
    'phil': 'R',
}

print("The following languages have been mentioned:")
for language in favorite_languages.values():
    print(language.title())

The following languages have been mentioned:
Python
C
Ruby
R

In [ ]:
# Now that you know how to loop through a dictionary, clean up the code from Exercise 6-3 (page 102) by replacing your series of print
# statements with a loop that runs through the dictionary’s keys and values. When you’re sure that your loop works, add five more Python terms to your
# glossary. When you run your program again, these new words and meanings should automatically be included in the output.

programming_words = {
    'chapter 1': 'snippets',
    'chapter 2': 'concatenated',
    'chapter 3': 'popping',
    'chapter 4': 'looping',
    'chapter 5': 'boolean',

}
for chapter, word in programming_words.items():
    print("In " + chapter.title() + " the new word is " + word.title() + ".")

In Chapter 1 the new word is Snippets.
In Chapter 2 the new word is Concatenated.
In Chapter 3 the new word is Popping.
In Chapter 4 the new word is Looping.
In Chapter 5 the new word is Boolean.

In [ ]:
#Make a dictionary containing three major rivers and the country each river runs through. One key-value pair might be 'nile': 'egypt'.
#Use a loop to print a sentence about each river, such as The Nile runs through Egypt.
#Use a loop to print the name of each river included in the dictionary.
#Use a loop to print the name of each country included in the dictionary.

rivers = {
    'amazon river': 'south america',
    'nile': 'egypt',
    'yangtze': 'china',
}
for river, country in rivers.items():
    print("The " + river.title() + " runs through " + country.title() + ".")

The Amazon River runs through South America.
The Nile runs through Egypt.
The Yangtze runs through China.

In [63]:
#Use the code in favorite_languages.py (page 104). 
#Make a list of people who should take the favorite languages poll. Include some names that are already in the dictionary and some that are not.
#Loop through the list of people who should take the poll. If they have already taken the poll, print a message thanking them for responding.
#If they have not yet taken the poll, print a message inviting them to take the poll.

favorite_languages = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
'john': 'not taken',
'elizabeth': 'not taken',
}

names_1 = ['jen', 'sarah', 'edward', 'phil']
for polled in favorite_languages.keys():
    print(polled.title())

    if polled in names_1:
       print("Hi, " + polled.title() + " thank you for taking the poll!")

    if not polled in names_1:
       print("Sorry " + polled.title() + " , please take the poll!")

Jen
Hi, Jen thank you for taking the poll!
Sarah
Hi, Sarah thank you for taking the poll!
Edward
Hi, Edward thank you for taking the poll!
Phil
Hi, Phil thank you for taking the poll!
John
Sorry John , please take the poll!
Elizabeth
Sorry Elizabeth , please take the poll!

In [65]:
#Nesting a list of dictionaries

alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [69]:
#Make a nesting list of 30 green aliens
aliens = []

for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

#Show the first 5 aliens:
for alien in aliens[:5]:
    print(alien)
print("...")

#Show how many aliens have been created
print("Total number of aliens: " + str(len(aliens)))

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
Total number of aliens: 63

In [ ]:
#Use a for loop and if statement to change the color of aliens. For example, to change the first three aliens to yellow, medium-speed aliens worth 10 points each.
aliens = []

for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

    for alien in aliens[0:3]:
        if alien['color'] == 'green'
           alien['color'] = 'yellow'
           alien['speed'] = 'medium'
           alien['points'] = 10

#Show first 5 aliens: 
for alien in aliens[0:5]:
    print(alien)
print("...")

In [ ]:
# Adding an elif block that turns yellow aliens into red, fast-moving ones worth 15 points each.

aliens = []

for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

 for alien in aliens[0:3]:
        if alien['color'] == 'green'
           alien['color'] = 'yellow'
           alien['speed'] = 'medium'
           alien['points'] = 10
        elif alien['color'] == 'yellow':
            alien['color'] = 'red'
            alien['speed'] = 'fast'
            alien['points'] = 15